body {
    font-family:monospace;
    background-color: #f4dcdc;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
 
  form {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  form input[type='text'],input[type='password'],input[type='email']{
    width:95%;
    height:30px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.2s ease;
    font-size: 20px;
  }
  form div{
    display:flex;
    justify-content: space-between;
    width:98%;
  }
  form div button{
    padding: 10px;
    width:49%;
    height: 48px;
    color:white;
  }
  form div button:nth-child(1){
    background-color: blue;
  }
  form div button:nth-child(2){
    background-color: green;
  }
  form button{
    width:98%;
    height:48px;
    border-radius: 20px;
    background-color: green;
  }
.success{
  border: 1px solid green;
}
.error{
  border: 1px solid red;
}

label{
  font-size: 22px;
  font-weight: bolder;
}


#name.error{
  border:2px solid red;
  }
  #name.success{
    border:2px solid green;
  }
  #email.error{
     border:2px solid red;
  }
  
  #email.success{
    border:2px solid green;
  }
  #password.error{ border:2px solid red;}
  #password.success{
    border:2px solid green;
  }
    input.error {
      border:2px solid red;
    }
  
    input.success {
      border: 2px solid green;
    }
  
    .error_message {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    #sucessMessage{
      color :green;
      font-size: 18px;
    }
  #loginMessage{
    font-size: 30px;
  }
  
  
